/* 기본적으로 모든 요소의 마진과 패딩을 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* box-sizing을 border-box로 설정 */
}

body {
  margin: 0 auto;
  font-family: "GowunBatang", serif;
  /* 고운바탕 폰트 적용 */
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(255, 255, 255, 0.55) !important;
}